.event-id-editor {
    .line-item {
        display:flex; 
        align-items: center; 
        margin-bottom: .5rem; 
        cursor:pointer;

        .label {
            flex: 1;
        }
    }
    .selector {
        display:flex; 
        padding-top: 1rem;
        button {
            margin-left: .5rem; 
            cursor: pointer;
        }
    }
}