@import "./lib.scss";

.fixed-header {
    .fixed-header-title {
        display:flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 1rem 2.5rem .7rem 1.5rem;

        .section {
            font-size: 1.1rem;
            line-height: 1.8;
        }
        h3 {
             padding:0;
             line-height:inherit!important;
             margin:0;
             margin-bottom:-.2rem;
        }
    }
    .ui.secondary.pointing.menu, .ui.empty.secondary.pointing.menu {
        position: relative;
        box-shadow: 0 2px 1px -1px #aaa;
        min-height:.3rem; 
        margin:0;
        padding:0;
        border-bottom: none;
        z-index: 2;

        .item {
            padding-bottom: .75rem;
        }
    }
}
