
@import "./lib.scss";

.fixed-header {
    .fixed-header-title {
        padding: 1rem 1rem 0 2rem;
        @include flex-box(row);
        
        .fixed-header-heading {
            @include flex(1);
            
            h3 {
                @include flex-box(row);
                @include align-items(center);
                margin: .5rem 0 0 0;
                    .label {
                        margin-left: 1rem;
                    }
            }
            .section a:last-child::after {
                content: ' » ';
                color: black;
                width: 50%;
            }
        }
        .fixed-header-buttons {
            padding-left: 1rem;
        }
    }
    .ui.menu {
        margin: .5rem 0 0 0;
    }
    .ui.secondary.pointing.menu {
        padding-left: 1rem;
        border-bottom: 2px solid #aaa;
    }
    .ui.empty.secondary.pointing.menu {
        margin: 0;
        margin-top: .1rem;
        line-height: 0;
        height: 0;
        min-height: 1rem;
    }
}
