.require::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #d95c5c;
}
.duration-control {
    @include flex-box(row);
}
    .duration-control input {
        width: 3.5rem!important;
    }
    .duration-control select {
        margin-left: .5rem;
        width: 6rem!important;
    }
/* This is a magic number that aligns text with Semantic UI controls. */
/* As such I have a special class for it. */
.inline-form-text {
    line-height: 38px;
}
.inline-editor-controls a:first-child {
    margin-right: 1rem;
}
.label-field-padding {
    margin: .65rem 0;
}
.help-text {
    color: #666;
    padding: 0 .5rem;
}
input[readonly] {
    border-color:transparent!important;
    padding-left: 0rem!important;
}
/* Tag editor control */
.tag-editor label {
    white-space: nowrap;
}
.tag-control {
    @include flex-box(row);
    @include justify-content(space-between);
    width: 14rem;

    button {
        z-index:1;
    }
}
.button-set {
    @include flex-box(row);
}
/* The controls in a layout expand across the field region, sometimes they 
    look dumb that large. This is one attempt to rationalize it. */
.short-input {
    width: 14rem!important;
}
label[for] {
    cursor: pointer!important;
}