.editor {
    border: none;
    border-bottom: 1px dotted #ccc;
    /* background-color: transparent; */
    /* Causes elements to jump around in flex layouts for no obvious reason. */
    /* display: block; */
    width: 100%;
}
