.editor {
    border: none;
    border-bottom: 1px dotted #ccc;
    width: 100%;
}
.require::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #d95c5c;
}
.duration-control {
    @include flex-box(row);
}
    .duration-control input {
        width: 3.5rem!important;
    }
    .duration-control select {
        margin-left: .5rem;
        width: 6rem!important;
    }
/* This is a magic number that aligns text with Semantic UI controls. */
/* As such I have a special class for it. */
.inline-form-text {
    line-height: 38px;
}
.inline-editor-controls a:first-child {
    margin-right: 1rem;
}
.label-field-padding {
    margin: .65rem 0;
}
.help-text {
    color: #aaa;
    font-style: italic;
    padding: 0 .5rem;
}
input[readonly] {
    border:none!important;
    font-style: italic;
}

/* Tag editor control */
.tag-editor label {
    white-space: nowrap;
}
.tag-control {
    @include flex-box(row);
    @include justify-content(space-between);
    width: 14rem;

    button {
        z-index:1;
    }
}
