.editor {
    border: none;
    border-bottom: 1px dotted #ccc;
    /* Causes elements to jump around in flex layouts for no obvious reason. */
    /* display: block; */
    width: 100%;
}
.require::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #d95c5c;
}