@import "./lib.scss";
@import "./forms.scss";
@import "./dialog.scss";
@import "./event_id_editor.scss";
@import "./nav.scss";
@import "./panel.scss";
@import "./survey.scss";
@import "./schema.scss";
@import "./schedules.scss";
@import "./pager.scss";
@import "./fixed_header.scss";
@import "./json.scss";
@import "./shared_module.scss";
@import "./participant_pager.scss";

/* HTML TAGS */
html, body {
    overflow: hidden;
}
body {
    @include flex-box(column);
    @include transition(opacity .5s ease-in-out);
    background-color: white;
    opacity: 0.0;
}
#sidebar {
    height: 100%;
}
    .pusher {
        height:  100vh; 
        display: flex; 
        flex-direction: column;
    }
section {
    @include flex-box(row);
    @include flex(1);
    /* FF BUG FIX: http://stackoverflow.com/questions/32911324/vertical-scroll-rendering-issue-in-flexbox-in-firefox 2 lines */
    min-width: 0;
    min-height: 0;
}
main {
    @include flex(1);
    @include flex-box(column);
    padding: 0;
    overflow-y: auto;
}
    .scrollbox {
        @include flex(1);
        padding: 1.5rem;
        overflow-y: auto;
        margin:0;
    }
header {
    @include flex-box(row);
    @include align-items(center);
    @include justify-content(space-between);
    @include gradient(rgb(52, 152, 219), 41%, rgb(41, 128, 185), 100%);
    
    &.dev {
        @include gradient(orange, 41%, #B22222, 100%);
    }
    h2 {
        font-weight: normal;
        letter-spacing: 2px;
        color: white;
        padding: 1rem 2rem 0rem 1.5rem;
        i {
            font-size: 1.6rem!important;
            cursor: pointer;
            opacity: 0.8!important;
        }
    }
    a {
        color: white;
    }
    .header-study-name {
        font-size: 1.5rem;
        padding: 0 4.5rem 0rem 1.5rem;
        color: white;
        position: relative;
        span {
            font-variant: small-caps;
            letter-spacing: 2px;
            opacity: 0.8!important;
        }
        i {
            position: absolute; 
            right: 1rem; 
            top: .2rem;
            font-size: 2rem!important;
        }
    }
}
footer p {
    border-top: 1px solid #e5e5e5;
    padding: .5rem;
    text-align: center;
}

/* GENERAL */

.no_records td, .no_records p {
    text-align: center!important;
    padding:.55rem!important;
}
.no_records p {
    margin: 0!important;
    padding: 0!important;
    font-weight: bold;
}
.public-key {
    font-family:monospace;
    white-space:pre;
    height: 20rem;
    overflow-y:scroll;
}
.vertical-padding {
    margin: 0 0 .5rem 0;
}
.action.item {
    margin-right: 1rem;
}
.link, .inline-editor-controls a {
    color: #4183c4!important;
    cursor: pointer;
}
.red {
    color:#db2828
}

/* participant_consents */
.signature-container {
    margin:0!important;
    padding:0!important;
    
    .signature {
        background-size: contain;
        background-position:center;
        background-repeat:no-repeat;
        /* Native size: 156x311px */
        height: 11.7rem!important;
        width: 23.3rem!important;
    }
}

.message {
    ol {
        margin: 0!important;
        padding: 0!important;
        margin-left:1rem!important;
    }
    li {
        margin: 1rem 0;
    }
}

progress {
    width: 100%;
}
    .progress-status {
        display: flex; 
        justify-content: 
        space-between; width:100%;
    }
        .progress-status-perc {
             padding-left:3rem;
        }

.modal {
    .actions {
        text-align:left ! important;
    }
}
.identifier-emphasis {
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: white;
    padding: 0 .25rem;    
}
/* For forms if you hide the first div.field, there's weird padding. This removes it. 
    Usage example: data-bind="css:{'noLeftPadding': !isNewObs()}"
*/
.noLeftPadding {
    padding-left: 0!important;
}

.nav-content {
    position: absolute;
    right: 0rem;
    color: #bbb;
    cursor:pointer!important;
}

/* Used to position the green/orange label next to version number in secondary menu. */
.pub-status {
    padding-right: 1rem;
    .item {
        max-height: 2.75rem;
        margin: 0;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .item * {
        margin: 0;
    }
}

/* This didn't use to be misaligned, but looks wrong now. */
.ui.compact.table {
    .ui.checkbox {
        vertical-align: middle;
    }
    .curtail-overflow {
        max-width: 200px; 
        text-overflow: ellipsis; 
        overflow: hidden;
    }
    th {
        padding: .7rem;
    }
}

.hasBorder td {
    border-bottom: 1px solid #ccc;
}
.disabled a {
    opacity: .7;
}
/* External Identifiers page controls, there's a primary button dropdown with poor icon spacing */
.ui.small.button.dropdown {
    padding-right: .5rem;
    i.icon {
        margin-left: .5rem;
    } 
}
.ui.mini.label {
    padding: .4rem .8rem!important;
    margin-bottom: -.1rem!important;
}

.non-breaking-rows td, .non-breaking-rows th {
    white-space: nowrap;
}
.upload-id {
    font-family: monospace;
}
.upload-error-messages {
    background:white!important;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .4rem;
}
.error-message {
    color: #912d2b;
}
.dragHandle {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.wrap-long-line {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.validation_errors {
    line-height: 1.5;
    max-width: 60rem;
    li {
        margin-bottom: 1rem;
    }
}
