@import "./lib.scss";
@import "./forms.scss";
@import "./survey.scss";
@import "./schema.scss";
@import "./scheduleplan.scss";

/* HTML TAGS */
body {
    @include flex-box(column);
    background-color: white;
    min-height: 100vh;
}
section {
    @include flex-box(row);
    @include flex(1);
}
main {
    @include flex(1);
    @include flex-box(column);
    padding: 0;
}
    .fixed-header {
        @include flex-box(column);
        padding: 0 1rem;
    }
        .fixed-header-title {
            @include flex-box(row);
            @include align-items(space-between);
            @include justify-content(top);
            width: 100%;
            margin: 1.5rem 0 1rem 0;
        }
            .fixed-header-title h3 {
                @include flex(1);
                /*@include order(2);*/
                /*font-size: 1.8rem;*/
                /*text-align: right;*/
                font-size: 1.4rem;
                margin: 0 1rem;
            }
            .fixed-header-buttons {
                /*@include flex(1);*/
                margin: 0 1rem;
            }
        .fixed-header .section {
            display: block;
            font-size: 1.1rem;
            font-weight: normal;
        }
        .fixed-header .section::after {
            content: ' » ';
            color: black;
        }
    .scrollbox {
        @include flex(1);
        padding: 1rem;
        height: 100vh;
        overflow-y: auto;
    }
nav {
    @include flex(0 0 18em);
    @include order(-1);
    padding:  2rem 1rem ! important;
    background-color: rgba(96,134,153,.2);
}
header {
    @include flex-box(row);
    @include align-items(top);
    @include justify-content(space-between);
    background-color: rgba(26,144,204,0.7);
}
    header i {
        font-size: 2rem!important;
    }
    header h2 {
        font-variant: small-caps;
        letter-spacing: 2px;
        color: white;
        padding: 1rem 2rem 0rem 1.5rem;
    }
    .header-env {
        font-size: 1.25rem!important;
        padding: 1.5rem 2rem 0rem 0rem;
        color: white;
    }
.scrollbox dd {
    margin: 1rem;
}
footer p {
    border-top: 1px solid #e5e5e5;
    padding: .5rem;
    text-align: center;
}

/* SEMANTIC UI TWEAKS */
.ui.field .ui.button {
    margin-top: .5rem ! important;
}
.ui.breadcrumb {
    margin: 0;
}
.ui.modal>.header {
    font-size: 1.3rem;
}
.ui.form {
    padding: 0 ! important;
}
nav .ui.menu {
    width:100% ! important;
    box-shadow: 0px 2px 3px silver;
}
.ui.modal .content {
    padding: 1.5rem;
}
/* GENERAL */

.pointing {
    cursor: pointer;
}
.loading_status {
    margin: 1rem 2rem;
    font-size: larger;
}
.button-container {
    margin: 0 0 1rem 0;
}
.public-key {
    font-family:monospace;
    white-space:pre;
    height: 20rem;
    overflow-y:scroll;
}
