/* HTML TAGS */
body {
    background-color: white;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}
section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
}
main {
    -webkit-flex: 1;
    flex: 1;
    padding: 2rem 1.5rem 1rem 1.5rem;
    overflow-y: scroll;
}
nav {
    -webkit-flex: 0 0 18em;
    flex: 0 0 18em;
    -webkit-order: -1;
    order: -1;
    padding:  2rem 1rem ! important;
}
header {
    display: -webkit-flex;
    display: flex;
    padding: 1rem 1rem 0 1.5rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    background-color: #5bbd72;
    box-shadow: 0px 2px 3px silver;
    margin-bottom: 4px;
}
header .content, header a {
    color: white;
}
header .sub.header {
    color: lightgoldenrodyellow ! important;
}
footer p {
    border-top: 1px solid #e5e5e5;
    padding: .5rem;
    text-align: center;
}

/* SEMANTIC UI TWEAKS */
.ui.field .ui.button {
    margin-top: .5rem ! important;
}
.ui.breadcrumb {
    margin: 0;
}
.ui.modal>.header {
    font-size: 1.3rem;
}
.ui.form {
    padding: 0 ! important;
}

/* GENERAL */

.pointing {
    cursor: pointer;
}
.loading.status {
    margin: 2rem 0;
    font-size: larger;
}
.button-container {
    margin: 0 0 1rem 0;
}

/* TABLES */
td {
    white-space: nowrap;
}
@import "forms.css";
@import "survey.css";