@import "./lib.scss";
@import "./forms.scss";
@import "./panel.scss";
@import "./survey.scss";
@import "./schema.scss";
@import "./scheduleplan.scss";

/* HTML TAGS */
html, body {
    overflow: hidden;
}
body {
    @include flex-box(column);
    background-color: white;
    /*min-height: 100vh;*/
}
section {
    @include flex-box(row);
    @include flex(1);
    /* FF BUG FIX: http://stackoverflow.com/questions/32911324/vertical-scroll-rendering-issue-in-flexbox-in-firefox 2 lines */
    min-width: 0;
    min-height: 0;
}
main {
    @include flex(1);
    @include flex-box(column);
    padding: 0;
    overflow-y: auto;
}
/* For pages that have no secondary menu of tabs at the top of the main screen. */
.empty-secondary-menu {
    margin-top: 1.5rem;
    border-bottom: 2px solid rgba(34,36,38,.15);
}
    .fixed-header {
        @include flex-box(column);
        display: block;

        .ui.secondary.pointing.menu {
            margin-top: .5rem;
        }
    }
        .fixed-header-title {
            @include flex-box(row);
            @include align-items(space-between);
            @include justify-content(top);
            width: 100%;
            padding: 1.5rem 1.5rem 0 1.5rem;
        }
            .fixed-header-title h3 {
                @include flex(1);
                font-size: 1.4rem;
                margin: .4rem 1rem 0 1rem;
            }
            .fixed-header-buttons {
                margin: 0 1rem;
            }
        .fixed-header .section {
            display: block;
            font-size: 1.1rem;
            font-weight: normal;
        }
        .fixed-header .section::after {
            content: ' » ';
            color: black;
        }
    .scrollbox {
        @include flex(1);
        padding: 1.5rem;
        overflow-y: auto;
        margin:0;
    }
nav {
    @include flex(0 0 18rem);
    @include order(-1);
    padding:  2rem 1rem ! important;
    background-color: rgba(96,134,153,.2);

    .title span {
        font-weight: bold;
    }
    .ui.vertical.menu {
        width: 100%;
    }
}
header {
    @include flex-box(row);
    @include align-items(top);
    @include justify-content(space-between);
    /*background-color: rgba(26,144,204,0.7);*/
    background-image: linear-gradient(90deg, rgb(52, 152, 219) 41%, rgb(41, 128, 185) 100%);
    background-image: -moz-linear-gradient(left, rgb(52, 152, 219) 41%, rgb(41, 128, 185) 100%);
    background-image: -webkit-linear-gradient(left, rgb(52, 152, 219) 41%, rgb(41, 128, 185) 100%);
    background-image: -ms-linear-gradient(left, rgb(52, 152, 219) 41%, rgb(41, 128, 185) 100%);    
}
    header i {
        font-size: 2rem!important;
    }
    header h2 {
        font-variant: small-caps;
        letter-spacing: 2px;
        color: white;
        padding: 1rem 2rem 0rem 1.5rem;
    }
    .header-env {
        font-size: 1.25rem!important;
        padding: 1.5rem 2rem 0rem 0rem;
        color: white;
    }
.scrollbox dd {
    margin: 1rem;
}
footer p {
    border-top: 1px solid #e5e5e5;
    padding: .5rem;
    text-align: center;
}

/* GENERAL */

.loading_status {
    font-size: larger;
}
.button-container {
    margin: 0 0 1rem 0;
}
.public-key {
    font-family:monospace;
    white-space:pre;
    height: 20rem;
    overflow-y:scroll;
}
.vertical-padding {
    margin: 0 0 .5rem 0;
    /*margin: 1rem 0;*/
}
.action.item {
    margin-right: 1rem;
}
.pointing {
    cursor: pointer;
}
.link, .inline-editor-controls a {
    color: #009fda!important;
    cursor: pointer;
}
.admin.lock.icon {
    padding-left: .5rem;
}
.admin.lock.icon, .admin.lock.icon::after {
    color: #aaa;
}
.admin.lock.icon::after {
    padding-left: .25rem;
    content: "admin only";
    font-variant: small-caps;
    white-space: pre;
}
