nav {
    @include flex(0 0 18rem);
    @include order(-1);
    padding:  1rem ! important;
    background-color: rgba(96,134,153,.2);
    overflow-y: auto;
    overflow-y: overlay;

    .content {
        margin: 0!important;
        padding: 5px!important;
    }
    .content .menu {
        margin: 0!important;
    }
    .content a:last-child {
        padding: 2px 4px;
    }
    .scroll-container {
        padding:0!important; 
        margin:0!important;
    }
    .vertical-scrollbox {
        max-height: 10rem;
        width: 100%!important;
    }
    .panel-vertical-scrollbox {
        max-height: 20rem;
        width: 100%!important;
        border-top: 1px solid #eee; 
        border-bottom: 1px solid #eee;
    }
    .ui.vertical.menu .item {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}
