nav {
    @include flex(0 0 18rem);
    @include order(-1);
    padding:  1rem ! important;
    background-color: rgba(96,134,153,.2);
    overflow-y: auto;
    overflow-y: overlay;

    .content {
        margin: 0!important;
        padding: 5px!important;
    }
    .content .menu {
        margin: 0!important;
    }
    .content a:last-child {
        padding: 2px 4px;
    }
    .scroll-container {
        padding:0!important; 
        margin:0!important;
    }
    .vertical-scrollbox {
        max-height: 10rem;
        width: 100%!important;
    }
    .panel-vertical-scrollbox {
        max-height: 20rem;
        width: 100%!important;
        border-top: 1px solid #eee; 
        border-bottom: 1px solid #eee;
    }
    .ui.vertical.menu .item {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}
.settings *[data-ref='settings'],
.templates *[data-ref='templates'],
.subpops *[data-ref='subpops'],
.participants *[data-ref='participants'],
.extids *[data-ref='extids'],
.sms *[data-ref='sms'],
.reports *[data-ref='reports'],
.notifications *[data-ref='notifications'],
.scheduling *[data-ref='scheduling'],
.tasks *[data-ref='tasks'],
.surveys *[data-ref='surveys'],
.taskIds *[data-ref='taskIds'],
.appConfigs *[data-ref='appConfigs'],
.links *[data-ref='links'],
.schemas *[data-ref='schemas'],
.metadata *[data-ref='metadata'],
.export *[data-ref='export'],
.modules *[data-ref='modules'],
.schemas *[data-ref='schemas'],
.surveys *[data-ref='surveys'],
.study *[data-ref='study'],
.info *[data-ref='info'],
.events *[data-ref='events'],
.uploads *[data-ref='uploads'],
.admin_upload *[data-ref='admin_upload'],
.studies *[data-ref='studies'],
.configs *[data-ref='configs'],
.substudies *[data-ref='substudies'],
.cache *[data-ref='cache'] {
    background-color: rgba(0,0,0,.05) !important;
    color: rgba(0,0,0,.95) !important;
    border-radius: .28571429rem !important;
} 
