.line-control {
    @include flex-box(row);
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: 1rem;

    .pagination {
        cursor: pointer;
    }
    > * {
        @include flex-box(row);
        @include flex-wrap();
    }
}
.line-control-radio {
    label {
        padding-right:1rem;
    }
    .checkbox {
        margin-left: 0;
    }
}
.ui.small.pagination.menu {
    margin: 0!important;
    i { margin: 0!important; }
}