
.title.item {
  font-weight: bold;
}
.vertical-scrollbox {
  max-height: 30rem;
  overflow-y: auto;
  padding: 0!important;
  margin: 0!important;
}
.vs-item {
  display: table-row;
  padding: 0;
  margin: 0;
}
.vs-item:hover {
  background-color: #f4f4f4;
}
.vs-item > div {
  display: table-cell;
}
.vs-item-content {
  width: 100%;
  padding: .5rem 1rem;
  cursor: pointer;
}
.vs-item-delete {
  padding: .5rem 0;
}
.vs-item-delete-disabled {
  opacity: .2;
}

.vs-one-line-label {
    white-space:nowrap;
    display:inline-block;
    text-overflow:ellipsis;
    width:11rem;
    overflow:hidden;
}