.session2 {
  padding: .75rem!important; 
  font-weight: bold; 
  font-variant: small-caps; 
  font-size: larger!important; 
  display: flex; 
  align-items: center;
}

.adherence-table {
  overflow-x: scroll;
  display: inline-block;
  max-width: 100%;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;

  .th { /* fake headers along left side of table */
    padding: .5rem;
    vertical-align: top;
    white-space: nowrap;
  } 
  th {
    padding: .2rem;
    background-color: rgb(249, 250, 251);
    white-space: nowrap;
  }
  tr:first-child th {
    padding-top: .7rem;
  }
  tr:last-child th {
    border-bottom: 1.5px solid rgba(34,36,38,.15);
  }
  .data-cell {
    text-align: center; 
    font-weight: bold;
    border: none;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
  }
  .today {
    background-color: rgba(255,220,0,.5);
    border-radius: 4px;
  }
  .inactive {
    background-color: #f4f4f4;
  }
  .none {
    display: none;
  }
  .bar {
    height: 8px;
    border: 2px solid;
    display: inline-block;
    width: 100%;
  }
  .single {
    width: 60%;
    border-radius: .2rem;    
  }
  .left {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-right: none;
    width: 80%;
    margin-left: 20%;
  }
  .mid {
    border-left: none;
    border-right: none;
  }
  .right {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-left: none;
    width: 80%;
    margin-right: 20%;
  }
  .leftBoth {
    border-left: none;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 47%!important;
  }
  .rightBoth {
    border-right: none;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 47%!important;
  }
  
  .red { background-color: #B22222; }
  .bgRed { border-color: #85144b; }
  .gray { background-color: #ccc; }
  .bgGray { border-color: #999; }
  .green { background-color: #2ECC40; }
  .bgGreen { border-color: #3D9970; }
  .blue { background-color: #4183c4; }
  .bgOrange { border-color: #FF851B; }
  .white { background-color: transparent; }
  .bgWhite { border-color: transparent; }
}

.ar-search-table {
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;

  td, th {
    white-space: nowrap;
    text-align: left;
  }
}