.session2 {
  padding: .75rem!important; 
  font-weight: bold; 
  font-variant: small-caps; 
  font-size: larger!important; 
  display: flex; 
  align-items: center;
}

.adherence-table-wrapper {
  overflow-x: auto;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 4px;
}
.adherence-table {
  border-radius: 5px;
  min-width: 100%;

  th, .th {
    white-space: nowrap;
    vertical-align: top;
    padding: .4rem .5rem;
  }
  th {
    background-color: rgb(249, 250, 251);
  }
  tr:last-child th {
    border-bottom: 1.5px solid rgba(34,36,38,.15);
  }
  .data-cell {
    cursor: pointer;
    white-space: nowrap;
    padding: 0 .25rem;
    line-height: 1;
    display: inline-block;
  }
  .today {
    background-color: rgba(255,220,0,.5);
    border-radius: 25%;
    padding: .25rem;
    margin: .2rem;
    line-height: 1;
  }
  td:not(.th) {
    vertical-align: middle;
    text-align: center;
  }
}
.bar {
  border: 2px solid #333;
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 3px 1px 0 1px;
}
.not_yet_available {
  background-color: #ccc;
  border-color: #999;
}
.unstarted {
  background-color: #4183c4;
}
.started {
  background-color: transparent;
  border-color: #3D9970;
}
.completed {
  background-color: #2ECC40;
  border-color: #3D9970;
}
.abandoned {
  background-color: transparent;
  border-color: #B22222;
}
.expired {
  background-color: #B22222;
  border-color: #85144b;
}
.not_applicable {
  background-color: transparent;
  border-color: #ccc;
}
.declined {
  background-color: pink;
  border-color: #B22222;
}
.empty {
  background-color: transparent;
  border-color: transparent;
}

.ar-search-table {
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;

  td, th {
    white-space: nowrap;
    text-align: left;
  }
}
.center-aligned {
  text-align: center !important;
  min-width: 3rem!important;
}