.survey {
    padding: 1rem;
}
.element {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #ccc;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
    .element-callout, .element-content {
        padding: .5rem 1rem 1rem 1rem;
    }
    .element-callout {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-between;
    }
        .element-callout .circular.label {
            margin-top: 1rem;
        }
        .element-callout-identifier {
            margin: .4rem 0 0 0;
            text-align: center;
            flex: 1;
        }
            .element-callout-identifier div {
                font-weight: bold;
            }
            .element-callout-identifier .editor {
                text-align: center;
            }
        .element-callout-delete {

        }
    .element-content {
        flex: 1;
    }
        .element-content-prompt {
            font-size: 1.3rem;
            font-weight: bold;
            margin: .4rem 0;
        }
        .element-content-prompt-detail {
            font-size: 1.1rem;
            color: #bbb;
            font-weight: normal;
            font-style: italic;
        }
        textarea.element-content-prompt-detail {
            height: 7rem;
        }
        .element-content-constraints {
            display: flex;
            flex-wrap: wrap;
        }
            .element-content-constraints > div {
                width: 50%;
                display: flex;
                flex-direction: row;
                padding: .5rem 1rem;
            }
            .element-content-constraints > div > div {
            }
            .element-content-constraints > div > div:first-child {
                width: 40%;
            }
            .element-content-constraints > div > div:last-child {
                flex: 2;
            }

.editor {
    border: none;
    background-color: transparent;
    display: block;
    width: 100%;
    border-bottom: 1px dotted #ccc;
}